<div id="navigation">
	<div class="row-fluid">
		<div class="span2">
			<span class="badge badge-info"><%= @cards.count %></span>  Cards
		</div> 
	    <div class="span4">
	  	  <%= will_paginate @cards %>
	    </div>
		<div class="span6">
			<% if params[:tag] %>
				<%= content_tag(:span, "Tagged to: <span class=\"label\">#{params[:tag]}</span>".html_safe, :class => 'pull-left') %> <%= link_to 'x', '/' %>
			<% else %>
				<% sep = '' %>
				<div>Years: <%= linked_tag_list_with_counts(Card.year_counts[0..10]) %> more...</div>
				<div>Tags: <%= linked_tag_list_with_counts(Card.tag_counts.reverse[0..10]) %> more...</div>
				
				<div class="hidden">Years: <%= linked_tag_list_with_counts(Card.year_counts) %></div>
				<div class="hidden">Tags: <%= linked_tag_list_with_counts(Card.tag_counts.reverse) %></div>				
			<% end %>
		</div>
	</div>
</div>
