<div class="page-header">
  <h1>Cards</h1>
</div>

<%= render :partial => 'pagination' %>

<div class="row">
	<div class="span8">
		&nbsp;
	</div>
	<div class="span4">
		<%= link_to_unless('thumb' == @style, "Thumbnail view", cards_path) %> |
		<%= link_to_if('thumb' == @style, "List view", list_cards_path) %> 
	</div>
</div>

<div id="cards">
	<%= render :partial => "#{@style}_view" %>
</div>



<%= render :partial => 'pagination' %>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_card_path,
            :class => 'btn btn-primary' %>
