<%- model_class = Card -%>
<div class="row">
	<div class="span6">
	    <%= image_tag @card.send(@main_image_method).url(:full) %>
	</div>
	<div class="span6">
		<div class="page-header">
		  <h1><%= @card.name %></h1>
		</div>

		
		<div class="tags">
			Year: <%= linked_tag_list(@card.year_list) %><br>
			Tags: <%= linked_tag_list(@card.tag_list) %>
		</div>
		
		<% if 'backimg' == @main_image_method %>
			<%= link_to(image_tag(@card.frontimg.url(:thumb)),card_path(@card)) %>
		<% else %>
			<%= link_to(image_tag(@card.backimg.url(:thumb)),back_card_path(@card)) %>
		<% end %>
		
		
		<div class="form-actions">
		  <%= link_to t('.back', :default => t("helpers.links.back")),
		              cards_path, :class => 'btn'  %>
		  <%= link_to t('.edit', :default => t("helpers.links.edit")),
		              edit_card_path(@card), :class => 'btn btn-large btn-primary', :style => "margin-right:15px;"  %>
		  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
		              card_path(@card),
		              :method => 'delete',
		              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
		              :class => 'btn btn-danger btn-mini' %>
		</div>
		
		
	</div>
</div>
